/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos da navbar */
.navbar {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada à navbar */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

/* Estilo para a imagem do logo */
.logo-img {
    width: 45px;
    height: 45px;
}

/* Centralizando o conteúdo da navbar */
.navbar-content {
    text-align: center;
}

/* Título "Bruxo Guarujá" */
.navbar-content h1 {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada ao título */
    font-size: 32px;
    color: #bedcf8;
    margin-bottom: 10px;
}

/* Estilo do texto "Consultas e Amarração Amorosa" */
.navbar-content p {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada ao texto */
    font-size: 16px;
    margin-bottom: 5px;
}

/* Texto pequeno para "Búzios, Cartas Ciganas, Limpezas e Abertura de Caminhos" */
.navbar-content .small-text {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada ao texto pequeno */
    font-size: 12px;
    margin-bottom: 10px;
}

/* Estilo do telefone */
.navbar-content .phone-number a {
    color: white;
    text-decoration: none;
}

.navbar-content .phone-number a:hover {
    color: white;
    text-decoration: none;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para os H2 dentro da classe container */
.container h2 {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada ao título */
    font-weight: bold;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 0 -20px;
}

/* Estilo comum para as divs de conteúdo */
.content {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    flex-direction: column;
    transition: flex-direction 0.3s ease-in-out;
}

/* Estilo da imagem */
.image {
    flex: 1;
    padding: 20px;
}

.image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo do texto */
.text {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada ao texto */
    flex: 2;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para o botão fixo */
.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, bottom 0.3s;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatsapp-icon {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
}

.button-text {
    font-size: 14px;
}

.fixed-button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    font-family: 'Roboto', sans-serif;  /* Fonte Roboto aplicada ao footer */
    background-color: #333;
    color: white;
    padding: 60px 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.footer-section h3 {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    font-size: 20px;
    border-bottom: 2px solid #bedcf8;
    display: inline-block;
    padding-bottom: 5px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
}

.social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover .social-icon {
    transform: scale(1.1);
}

.footer-credit {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .social-icons {
        gap: 10px;
        justify-content: center;
    }

    .footer-section h3 {
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .footer-container {
        flex-direction: row;
        justify-content: center;
    }

    .footer-section {
        flex: 1;
        margin: 10px;
        padding: 10px;
    }
}
